page-home {
        
.body{
        text-align: center;
        background-image: url("../../assets/imgs/b_day.png");
        background-repeat: no-repeat;
        background-size: cover;
        // background-size: auto; 
        // width: 80%;
    }
    
    h1{
            padding: 15%;
            text-align: center;
            color: white;
            font-size: 54px;
    }
}
