page-home {
     
}

.body{

   // background-image: url("../../assets/imgs/be.jpg"); 
    background-image: no-repeat;
    background-attachment: fixed;
    background: rgb(95, 67, 67);
}

h1{
        padding: 15%;
        text-align: center;
        color:white;
}